
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main-header {
  height: 60px;
  background-color: blue;
  color: #FFF;
    .add-image {
      padding: 20px;
      text-decoration: none;
      color: #FFF;
      display: inline-block;
      border-radius: 50%;
      background-color: darkgray;
    }
}
